/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */


.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.nav{
    width:100%;
    height: 75px;
    opacity:0;
}


.nav ul{
    width: 90%;
    padding-top:1%;
    padding-left:5%;
}

.nav ul li{
    display: inline-block;
    font-family: sans-serif;
    color:#cccccc;
    padding-right: 3%;
}

.float{
  float:right;
}

.nav ul li:hover{
    color: #bc1664;
}

.nav p:hover{
    color: #bc1664;
}

.outer{
    width: 100%;
    height: 100%;
}

.inner{
    width:80%;
    margin: 0 auto;
    height: 100vh;
}

.intro{
    height:225px;
    width:70%;
    padding-top:15%;
    margin: 0 auto;
}

.lefth{
    width:50%;
    float:left;
}

.righth{
    width:50%;
    float: right;
}

#logo{
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    float: right;
    margin-right: -80px;
  }

#divider{
    height:0%;
    width:5px;
    background-color: #41afa6;
    float: left;
    margin-top:10px;
}

@font-face {
    font-family: LeagueSpartan;
    src: url(../fonts/LeagueSpartan-Bold.otf);
}

.righth h1{
    font-family: sans-serif;
    color:#41afa6;
    font-family:LeagueSpartan;
    font-size: 30px;
    margin-bottom:1%;
    opacity:0;
    padding-top: 30%;
    padding-left:10%;
}

.righth h2{
    font-family: sans-serif;
    color:#41afa6;
    font-family:LeagueSpartan;
    font-size:15px;
    margin-top:1%;
    opacity: 0;
    padding-top: 10%;
    padding-left:10%;
    color:#cccccc;
}

.left{
    background-color:#41afa6;
    height:100vh;
    width:50%;
    text-align: center;
    float: left;
    position:fixed;
}

.left h1{
    font-family: 'Dancing Script';
    color: white;
    font-size: 40px;
    margin-top:0px;
    padding-top: 40%;
}
.home{
  float: left;
  margin-left:3%;
  color: #e6e6e6;
}

.home p{
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 200;
}

.home p:hover{
  animation: home-button 2s ease;
  animation-fill-mode: forwards;
}

@keyframes home-button{
0% {      
    text-shadow:0 0 .5em rgba(255,226,255,.4),
      0 0 .2em rgba(188, 22, 100,.4),
      0 .3em .2em rgba(188, 22, 100,.4);

  }
  100% {
    transform: translateZ(.7em);
    text-shadow:0 0 .5em rgba(255,226,255,.4),
      0 0 .2em rgba(188, 22, 100,.6),
      0 .5em .5em rgba(188, 22, 100,.6);
  }

}

span img{
    width: 20px;
    height: 20px;
}

 .affix {
      top: 1%;
      left:1%;
      width: 99%;
  }

.overlay {
    height: 0%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(20,85,80, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 10000;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.left ul{
    margin: 0 auto;
}

.left ul li{
    display: inline-block;
    color:#e6e6e6;
    padding-right: 2%;
    font-size: 16px;

}

span{
    font-size:20px;
    color: #bc1664;
    font-weight: bold;
}

.right{
    width: 50%;
    float:right;
    background-color: white;
    height: 100%;
}

.photos{
    line-height: 0;
   
  -webkit-column-count: 4;
  -webkit-column-gap:   0px;
  -moz-column-count:    4;
  -moz-column-gap:      0px;
  column-count:         4;
  column-gap:           0px; 
  padding-bottom: 2%; 
  padding-top: 2%;
   position:relative;
   z-index: 0;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  border:3px solid white;
}

.separate{
    height: 1px;
    width: 100%;
    background-color: #cccccc;
}

#pop-up{
  width:auto;
  height: auto;
  perspective:130px;
  position: relative;
}

#pop-up img {
  position: relative;
  transition: 100ms;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}

.photos:hover #pop-up:not(:hover) img{
  opacity:0.2;
}

#pop-up:hover{
 z-index:9999;
}

 #pop-up:hover img{
  transform: translate3d(-60px,60px,80px);  
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  }

  #people{
    margin-bottom: 20%;
  }


.right{
  background-color: white;
}

#characters{
  text-align:center;
}

.carousel{
  height: 50vh;
  width: auto;
  margin-top: 25%;
}

.carousel-inner > .carousel-item > img {
  max-height:300px;
  width:auto;

}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bc1664' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23bc1664' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-indicators li{
  background-color: #bc1664;
}

.carousel-indicators .active{
  background-color: #f07fb4;
}

.frame-area {
  display: block;
  width: 100%;  /* RESPONSIVE WIDTH */
  max-width: 800px;
  height: 400px;
  overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
  border: #999999 1px solid;
  margin: 0px;
  padding: 0px;
  }

  @font-face {
    font-family: calibri;
    src: url(../fonts/Calibri.ttf);
}

  .caption{
    padding: 2%;
  }

  .right h2{
    font-family: calibri;
    font-size:18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-left: 2%;
    padding-top:2%;
  }

  .pink{
  color:#bc1664;
  }

  .caption p{
    font-family: calibri;
    font-size: 14px;
    letter-spacing: 1px;
  }


   #carousel-grandma{
  height: 90vh;
  width: 100%;
  margin-top:0px;
}

#carousel-grandma > .carousel-inner > .carousel-item > img {
  height:600px;
  width:auto;
  padding-top: 5%;
}

  .carousel-caption{
    top: 0;
    bottom:auto;
  }

  .carousel-caption p{
    color:#bc1664;
  }


  .contact{
    height: 100vh;
  }

  .howdy{
    margin-top: 20%;
    height: 250px;
    margin-left: 25%;
  }

  .contact ul{
    list-style-type: none;
    margin-top:5%;
    float: right;
    width: 35%

      }

  .img li{
    padding-bottom: 25%;
    display: inline-block;
    padding-right: 2%;
  }

  .social{
    height:30px;
    margin: auto 0;
  }

 #me{
  height: 350px;
  position:absolute;
  margin-top: -52%;
  margin-left: -10%;
 }

  #aboutme{
    float:left;
    margin-left:0px;
    height: 70px;
    margin-top: 35%;
    
  }

  #interests{
    float:right;
    margin-right: 0px;
    height: 70px;
    margin-top:20%;
    
  }

   #skills{
    float:left;
    margin-left:0px;
    height: 70px;
    margin-top: 3%;
  }

  .aboutinfo{
    font-size: 12px;
    clear:both;
    float: left;
    width: 70%;
    padding-left: 2%;
    padding-top: 1%;
  }

  .aboutinfoR{
    font-size: 12px;
    clear:both;
    float: right;
    width: 70%;
    padding-right: 2%;
    padding-top: 1%;
  }
 
 .extender {
  height: 300vh;
 }

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 1000px){
  #carousel-grandma > .carousel-inner > .carousel-item > img {
  height:500px;
  width:auto;
  padding-top: 5%;
  }
  .howdy{
    display:none;
  }
  #me{
    margin-left: 12%;
  }
  .img{
    padding-top: 20%;
  }
}
@media only screen and (max-width: 760px){
  #carousel-grandma > .carousel-inner > .carousel-item > img {
  height:350px;
  width:auto;
  padding-top: 5%;
  }

  #carousel-grandma{
    height: 60vh;
  }
}
@media only screen and (max-width: 530px) {
   .nav ul{
      width: 80%;
    }

    #Hh1{
      font-size: 20px;
    }

    #Hh2{
      font-size: 14px;
    }
    .left{
      width: 100%;
      height:40%;
      z-index:10000;
    }

    .left h1{
      padding-top: 3%;
    }

    .right{
      width: 100%;
      margin-top: 50%;
    }

    .overlay a{
      font-size: 16px;
      padding-bottom:1px;
    }

    #carousel-grandma{
      height: 70vh;
    }
    #me{
      margin-top: -175%;
      margin-left: 25%;
      z-index: 11000;
    }
    .contact ul{
      width: 70%;
    }
    #aboutme{
      margin-top: 1%;
    }
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
